body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  .header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 1rem;
    
  }
  
  .top-words {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .bottom-words {
    font-size: 2.5rem;
    margin: 0;
  }
  
  .full-background {
    background-color: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .content {
    width: 80%;
    max-width: 1000px;
    margin-top: -200px;
  }
  
  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .button-list,
  .button-list2 {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .button-list li,
  .button-list2 li {
    margin: 1rem;
  }
  
  .bubble {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    text-decoration: none;
  }
  
  .rounded-button {
    border-radius: 30px;
    font-size: 1.2rem;
  }
  
  .rounded-button-plus {
    border-radius: 30px;
    font-size: 1.2rem;
    background-color: #333;
    color: #fff;
  }
  
  .grow {
    transition: all 0.2s ease-in-out;
  }
  
  .grow:hover {
    transform: scale(1.1);
  }
  
  #toggle-btn {
    background-color: #333;
    color: #fff;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    text-decoration: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
  }
  