* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ddd;
    font-family: 'Arial', sans-serif;
}

nav {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 10vh;
    position: relative;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li a {
    color: #fff;
    text-decoration: none;
    margin-right: 2rem;
    transition: all 0.5s;
}

nav li a.grow:hover {
    transform: scale(1.2);
}

nav .toggle-button {
    background-color: #333;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.picture-section {
    display: flex;
    justify-content: center;
}

.ymcstat {
    width: 50%;
    height: auto;
    margin: 1rem;
}

.maskaty {
    width: 60%;
    height: auto;
    margin: 1rem;
}

.left-section {
    width: 100%;
    padding: 2rem;
}

.title-section {
    margin-top: -50px;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 32px;
}

.content-section {
    font-size: 1.2rem;
    padding-left: 250px;
    padding-right: 250px;
}

.grow { 
    transition: all .2s ease-in-out; 
    }
    
.grow:hover { 
    color: white;
    transform: scale(1.1); 
    cursor: pointer;
}